.img{
    position: absolute;
}
.a{
    display: flex;
    position: absolute;
    color : white;
    padding: 10px 0px;
    border-bottom: 1px solid gray;
    padding-left: 320px;
}
.a-1{
    display: flex;
}
.a-1-1{
    color: gray;
    margin: 0px 0px;
}
.a-1-2{
    margin: 0px 0px;
}
.a-2{
    list-style: none;
    margin-top: 0px;
    margin-left: 543px;
    
}
.a-2 li{
    display: inline-block;
    margin-left: 15px;
}
.b{
    margin-top: 7%;
    display: flex;
    position: absolute;
    padding-left: 320px;
    color : white;
}
.b-1{
    font-size: 20px;
}
.b-2{
    list-style: none;
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 90px;
}
.b-2 li{
    float: left;
    margin-left: 30px;
    font-size: 17px;
}
.body-1{
    display: flex;
    position:absolute;
    top: 200px;
    background-color: rgb(9, 9, 65);
    padding-left: 322px;
    padding-right: 130px;
    padding-bottom: 70px;
}
.img-1{
    margin-top: 30px;
    position:absolute;
}
.c{
    margin-top: 43px;
    color: white;
    margin-left: 590px;
}
.c-1{
    font-size: 30px;
}
.c-2-1{
    display:flex;
    margin-top: 20px;
    margin-bottom: -20px;
}
.p-1{
    background-color: rgba(47, 47, 100, 0.797);
    padding: 10px 0px;
    padding-left: 10px;
    padding-right: 150px;
}
.p-2 {
    margin-left: 20px;
    background-color: rgba(47, 47, 100, 0.797);
    padding: 10px 0px;
    padding-left: 10px;
    padding-right: 175px;
    margin-left: 40px;
}
.p-3{
    background-color: rgba(47, 47, 100, 0.797);
    padding: 10px 0px;
    padding-left: 10px;
    padding-right: 160px;
}
.p-4{
    margin-left: 20px;
    background-color: rgba(47, 47, 100, 0.797);
    padding: 10px 0px;
    padding-left: 10px;
    padding-right: 167px;
    margin-left: 40px;
}
.c-2-2{
    display:flex;
}
.c-3{
    border: 2px solid rgb(202, 77, 0);
    margin-left: 76%;
    padding: 10px 10px;
    color: rgb(186, 105, 0);
}
